*{
    margin: 0;
    padding: 0;
}
.amazon{
    background-color: #131921;
    display:flex;
}
.left{
  width: 25%;
  display: flex;
}
.middle{
  width: 45%;
}
.Right{
  width: 30%;
  display: flex;
}
.logo{
    
    cursor: pointer;
    max-width: 165px;
    max-height: 71px;

}
.logo img{
  display: block;
  max-width: 100%;
  height: auto;
}
.search{
   display: flex;
   align-items: center;
   padding: 12px;
 
  
}
.search input{
    width: 100%;
    height: 40px;
    
}
.location{
    display: flex;
    color: white;
    align-items: center;
    padding: 0 15px;
    
    cursor: pointer;
}
.mapp{
  padding: 6px;
}
.search button {
  float: left;
  padding: 5px 10px 6px;
  border-left: none;
  cursor: pointer;
  font-size: 27px;
  background-color: rgb(250, 211, 140);
}
.flag{
  padding: 22px 15px 0;
  text-align: center;
  
}
.dropdown {
   
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 14px;  
    border: none;
    outline: none;
    color: white;
    padding: 19px 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .return{
    display: flex;
    color: #f1f1f1;
    flex-direction: column;
    padding: 7px 12px;
  }
 .newline2{
   display: block;
   font-weight: bold;
   
 }
 .flagarrow{
    color: #f1f1f1;
    position: relative;
    top: -7px;
    margin-left: 5px;
 }
 .cart{
   color: white;
   font-size: 2.5rem;
   padding: 5px 10px;
  
    
 }
.main {
  display: flex;
  background-color: #232f3e;
  padding: 10px;
 
}
.menu{
  padding: 0 10px;
  display: block;
}
.menu a{
  font-size: 1.2rem;
  color: #f1f1f1;
  text-decoration: none;
}
.list{
  display: block;
  text-decoration: none;
  list-style:none;

}
.list ul li{
  text-decoration: none;
  color: white;
  list-style: none;
}